# systemd service file
# More infos in README.md

[Unit]
Description=Transit Display GUI
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 -m transit_display.main
WorkingDirectory=/home/USERNAME/transit-display
Restart=always
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal
TimeoutSec=120

[Install]
WantedBy=multi-user.target
